*{
    margin:0;
    padding:0;
}

.container{
    width:calc( 100% - 200px);
    margin:auto;
}

.row{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.navbar{
    padding:20px 0;
    background-color: blue;

}
.navbar p{
    color:antiquewhite;
    font-size: 20px;
    font-weight: bold;

}

.nav {
    display:flex;
    gap:20px;
    align-items:flex-end;
}

.navbar .nav a{
    color:antiquewhite;
    text-decoration: none;
    font-size: 20px;
}
.navbar .nav li{
    list-style-type: none;
}

.users{
    background-color:rgb(142, 188, 230);
    padding:20px 0;
}
.users .row{
   justify-content: center;
   align-items: center;
   gap: 25px;
}
.users .user h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.users .user{
    display: flex;
    flex-direction:column;
    align-items: center;
    padding-top:10px;
    gap:10px;
    width:350px;
    height: 230px;
    background-color:rgba(240, 255, 255, 0.821);
    border-radius: 10px;

}
.users .user span{
    color:black;
    font-weight: bold;
    font-style: italic;
}

@media screen and (max-width:560px){
      .navbar .row{
        flex-wrap: nowrap;
        justify-content: center;
        gap:10px;
      }
      .nav{
        gap:10px;
      }

      .navbar p{
        font-size: 15px;
    }

    .navbar .nav a{
        font-size: 15px;
    }
}
@media screen and (max-width:471px){
    .navbar .row{
        width: 271px;
    }
}
